<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <LinnSystems_LinnLiveConnect>
            <version>1.1.63</version>
        </LinnSystems_LinnLiveConnect>
    </modules>
    <global>
        <helpers>
            <linnLiveConnect>
                <class>LinnSystems_LinnLiveConnect_Helper</class>
            </linnLiveConnect>
        </helpers>
        <models>
			<catalog>
				<rewrite>
					<category_api>LinnSystems_LinnLiveConnect_Model_Category_Api</category_api>
					<product_api>LinnSystems_LinnLiveConnect_Model_Product_Api</product_api>
					<product_attribute_api>LinnSystems_LinnLiveConnect_Model_Product_Attribute_Api</product_attribute_api>
					<product_attribute_media_api>LinnSystems_LinnLiveConnect_Model_Product_Attribute_Media_Api</product_attribute_media_api>
					<product_link_api>LinnSystems_LinnLiveConnect_Model_Product_Link_Api</product_link_api>
				</rewrite>
			</catalog>
            <core>
                <rewrite>
                    <url>LinnSystems_LinnLiveConnect_Model_Core_Url</url>
                    <store>LinnSystems_LinnLiveConnect_Model_Core_Store</store>
                </rewrite>
            </core>
        	<linnLiveConnect>
                <class>LinnSystems_LinnLiveConnect_Model</class>
            </linnLiveConnect>	
        </models>
    </global>
</config> 